:host {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

form {
    width: 100%;
    display: grid;
    gap: 20px;
    // grid-template-areas:
    //     "wineryLabel wineryInput"
    //     "yearLabel yearInput"
    //     "wineLabel wineInput"
    //     "colorLabel colorInput"
    //     "sparklingLabel sparklingInput"
    //     "alcoholLabel alcoholInput"
    //     "submitButton submitButton";
}


// #winery-label {
//     grid-area: wineryLabel;
// }
// #winery-input {
//     width: .75em;
//     grid-area: wineryInput;
// }

// #year-label {
//     grid-area: yearLabel;
// }
// #year-input {
//     width: 300px;
//     grid-area: yearInput;
// }

// #wine-label {
//     grid-area: wineLabel;
// }
// #wine-input {
//     width: 300px;
//     grid-area: wineInput;
// }

// #color-label {
//     grid-area: colorLabel;
// }
// #color-input {
//     width: 50px;
//     grid-area: colorInput;
// }

// #alcohol-label {
//     grid-area: alcoholLabel;
// }
// #alcohol-input {
//     width: 50px;
//     grid-area: alcoholInput;
// }

// #sparkling-label {
//     grid-area: sparklingLabel;
// }
// #sparkling-input {
//     width: 50px;
//     grid-area: sparklingInput;
// }

// button {
//     grid-area: submitButton;
// }


// #wine-label {
//     gridArea: wineBox;
// }

// #yearOfWine {
//     gridArea: yearBox;
// }
