// form {
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 1.3em;

//     display: grid;
//     grid-template-columns: 1fr 2fr;
//     grid-template-rows: 1fr 1fr 1fr;
//     gap: 20px;
//     grid-template-areas:
//         wineryLabel wineryBox
//         yearLabel yearBox
//         nameLabel nameBox;
// }

// #winery {
//     grid-area: wineryLabel;
// }

// #year {
//     grid-area: yearLabel;
// }

// #wineName {
//     grid-area: nameLabel;
// }

// #wineryName {
//     gridArea: wineryBox;
// }

// #wine {
//     gridArea: wineBox;
// }

// #yearOfWine {
//     gridArea: yearBox;
// }
