<h1>Enter Wine Details:</h1>

<form [formGroup]=formGroup id="add-wine-form">

    <app-form-element [label]="labels.wineryLabel"></app-form-element>
    <app-form-element [label]="labels.yearLabel"></app-form-element>
    <app-form-element [label]="labels.wineLabel"></app-form-element>
    <app-form-element-select [label]="labels.colorLabel" [options]="colorsOptions"></app-form-element-select>
    <app-form-element-select [label]="labels.sparklingLabel" [options]="sparklingOptions"></app-form-element-select>
    <app-form-element [label]="labels.alcoholLabel"></app-form-element>

    <button type="submit">Add Wine</button>
</form>