<form [formGroup]=formGroup id="add-wine-form">
    <label for="winery-input" id="winery-label">
        Winery:
    </label>
    <input type="text" formControlName="winery" id="winery-input"/> 

    <label for="year-input" id="year-label">
        Year:
    </label>
    <input type="text" formControlName="year" id="year-input"/>

    <label for="wine-input" id="wine-label">
        Wine Name:
    </label>
    <input type="text" formControlName="wine" id="wine-input"/>    
    
    <label for="color-input" id="color-label">
        Color:
    </label>
    <select formControlName="color" id="color-input">
        <option value="red">Red</option>
        <option value="white">White</option>
        <option value="rose">Rose</option>
    </select>

    <label for="alcohol-input" id="alcohol-label">
        Alcohol Percentage:
    </label>
    <input type="text" formControlName="alcohol" id="alcohol-input"/>

    <label for="sparkling-input" id="sparkling-label">
        Sparkling:
    </label>
    <select formControlName="isSparkling" id="sparkling-input">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>

    <button type="submit">Add Wine</button>
</form>