<form [formGroup]=formGroup id="add-wine-form">
    <label for="winery-input" id="winery-label">
        Winery: <input type="text" formControlName="winery" id="winery-input"/>
    </label>    
    

    <label for="year-input" id="year-label">
        Year: <input type="text" formControlName="year" id="year-input"/>
    </label>
    

    <label for="wine-input" id="wine-label">
        Wine Name: <input type="text" formControlName="wine" id="wine-input"/>
    </label>
    
    
    <label for="color-input" id="color-label">
        Color: <select formControlName="color" id="color-input">
            <option value="red">Red</option>
            <option value="white">White</option>
            <option value="rose">Rose</option>
        </select>
    </label>

    <label for="alcohol-input" id="alcohol-label">
        Alcohol Percentage: <input type="text" formControlName="alcohol" id="alcohol-input"/>
    </label>

    <label for="sparkling-input" id="sparkling-label">
        Sparkling: <select formControlName="isSparkling" id="sparkling-input">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    </label>

    <button type="submit">Add Wine</button>
</form>