<form [formGroup]=formGroup id="add-wine-form"
        (ngSubmit)="onSubmit()"
        *ngIf="wineries !== []">

    <div class=form-element>
        <label for="year-input" id="year-label">
            Year:
        </label>
        <input type="text" formControlName="year" id="year-input" class="expanding-text-box"/>
    </div>

    <div class=form-element>
        <label for="wine-input" id="wine-label">
            Wine Name:
        </label>
        <input type="text" formControlName="wineName" id="wine-input" class="expanding-text-box"/>    
    </div>

    <div class=form-element>
        <label for="winery-input" id="winery-label">
            Winery:
        </label>
        <select formControlName="winery" id="winery-input">
            <option *ngFor="let w of wineries" value={{w.wineryName}}>
                {{ w.wineryName }}
            </option>
        </select>
        <button class="mdc-button mdc-button--raised" (click)=openDialog()>
            <span class="mdc-button__label">Add new winery</span>
        </button>
    </div>

    <div class=form-element>
        <label for="color-input" id="color-label">
            Color:
        </label>
        <select formControlName="color" id="color-input">
            <option value="red">Red</option>
            <option value="white">White</option>
            <option value="rose">Rose</option>
            <option value="orange">Orange</option>
        </select>
    </div>

    <div class=form-element>
        <label for="sparkling-input" id="sparkling-label">
            Sparkling:
        </label>
        <select formControlName="isSparkling" id="sparkling-input">
            <option value=true>Yes</option>
            <option value=false>No</option>
        </select>
    </div>

    <div class=form-element>
        <label for="alcohol-input" id="alcohol-label">
            Alcohol %:
        </label>
        <input type="text" formControlName="alcoholPercentage" id="alcohol-input"/>
    </div>

    <button type="submit">Add Wine</button>
</form>