<form [formGroup]=formGroup id="add-wine-form"
        (ngSubmit)="onSubmit()"
        *ngIf="wineries !== []">

    <div class=form-element>
        <label for="year-input" id="year-label">
            Year:
        </label>
        <input type="text" formControlName="year" id="year-input" class="expanding-text-box"/>
    </div>

    <div class=form-element>
        <label for="wine-input" id="wine-label">
            Wine Name:
        </label>
        <input type="text" formControlName="wineName" id="wine-input" class="expanding-text-box"/>    
    </div>

    <div class=form-element id="winery-box">
        <label for="winery-input" id="winery-label">
            Winery:
        </label>
        <div id="winery-input">
            <select formControlName="winery" id="winery-select">
                <option *ngFor="let w of wineries" value="{{ w.wineryId }}">
                    {{ w.wineryName}}
                </option>
            </select>
            <p id="or">-----OR-----</p>
            <button class="mdc-button mdc-button--raised" (click)=openDialog() id="add-winery-button" type="button">
                <span class="mdc-button__label">Add new winery</span>
            </button>
        </div>
    </div>

    
    <div class=form-element>
        <label for="color-input" id="color-label">
            Color:
        </label>
        <select formControlName="colorId" id="color-input">
            <option *ngFor="let color of colors" value="{{ color.colorId }}">
                {{ color.colorName | titlecase }}
            </option>
        </select>
    </div>

    <div class=form-element>
        <label for="sparkling-input" id="sparkling-label">
            Sparkling:
        </label>
        <select formControlName="isSparkling" id="sparkling-input">
            <option value=true>Yes</option>
            <option value=false>No</option>
        </select>
    </div>

    <div class=form-element>
        <label for="alcohol-input" id="alcohol-label">
            Alcohol %:
        </label>
        <input type="text" formControlName="alcoholPercentage" id="alcohol-input"/>
    </div>

    <button type="submit">Add Wine</button>
</form>