#titlebar {
    background-color: rgba(241, 98, 93, 0.726);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    // font-size: x-large;
    text-align: center;
}

header {
    font-weight: bolder;
    font-size: xx-large;
    color:rgb(34, 24, 33);
}

main {
    margin-top: 0%;
    padding-top: 0px;
    width: 100%;
    background-color: rgb(252, 245, 251);
}
