main {
    width: 100vw;
    height: 100vh;
    color: maroon;
}

#titlebar {
    background-color: rgba(255, 190, 183, 0.767);
    text-align: center;
    height: 115px;
}

header {
    font-weight: bolder;
    font-size: xx-large;
    color: maroon;
    padding-top: 10px;
}

nav {
    padding-top: 20px;
}

main { 
    margin-top: 0%;
    padding-top: 0px;
    width: 100%;
    background-color: rgb(255, 253, 255);
}

@media(min-width: 544px) {
    #titlebar {
        height: 95px;
    }
}