main {
    width: 100vw;
    height: 100vh;
    color: maroon;
}

#titlebar {
    background-color: rgba(255, 190, 183, 0.767);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    // font-size: x-large;
    text-align: center;
}

header {
    font-weight: bolder;
    font-size: xx-large;
    color: maroon;
}

main {
    margin-top: 0%;
    padding-top: 0px;
    width: 100%;
    background-color: rgb(255, 254, 255);
}
