<label for=groupName id="aspect-name">{{ groupName | titlecase }}: </label>
<div id=groupName>
    <label for="1">1</label>
    <input type="radio" id="1" name=groupName value=1 class="rad-button">
    <label for="2">2</label>
    <input type="radio" id="2" name=groupName value=2 class="rad-button">
    <label for="3">3</label>
    <input type="radio" id="3" name=groupName value=3 class="rad-button">
    <label for="4">4</label>
    <input type="radio" id="4" name=groupName value=4 class="rad-button">
    <label for="5">5</label>
    <input type="radio" id="5" name=groupName value=5 class="rad-button">
</div>


<!-- <label for=groupName id="aspect-name">{{ groupName | titlecase }}</label>
<mat-radio-group name=groupName id=groupName>
    <label for="1">1 </label>
    <mat-radio-button aria-label="1" id="1"></mat-radio-button>
    <label for="2">2 </label>
    <mat-radio-button aria-label="2" id="2"></mat-radio-button>
    <label for="3">3 </label>
    <mat-radio-button aria-label="3" id="3"></mat-radio-button>
    <label for="4">4 </label>
    <mat-radio-button aria-label="4" id="4"></mat-radio-button>
    <label for="5">5 </label>
    <mat-radio-button aria-label="5" id="5"></mat-radio-button>
</mat-radio-group> -->



<!-- 
<label for="group1" id="aspect-name">{{ groupName | titlecase }}</label>
<mat-radio-group name="group1" id="groupName">
    <label for="1">1 </label>
    <mat-radio-button aria-label="1" id="1"></mat-radio-button>
    <label for="2">2 </label>
    <mat-radio-button aria-label="2" id="2"></mat-radio-button>
    <label for="3">3 </label>
    <mat-radio-button aria-label="3" id="3"></mat-radio-button>
    <label for="4">4 </label>
    <mat-radio-button aria-label="4" id="4"></mat-radio-button>
    <label for="5">5 </label>
    <mat-radio-button aria-label="5" id="5"></mat-radio-button>
</mat-radio-group>


<label for="group2" id="aspect-name2">{{ groupName | titlecase }}</label>
<mat-radio-group name="group2" id="groupName2">
    <label for="1">1 </label>
    <mat-radio-button aria-label="1" id="1"></mat-radio-button>
    <label for="2">2 </label>
    <mat-radio-button aria-label="2" id="2"></mat-radio-button>
    <label for="3">3 </label>
    <mat-radio-button aria-label="3" id="3"></mat-radio-button>
    <label for="4">4 </label>
    <mat-radio-button aria-label="4" id="4"></mat-radio-button>
    <label for="5">5 </label>
    <mat-radio-button aria-label="5" id="5"></mat-radio-button>
</mat-radio-group> -->