<app-radio-template [groupName]="aspectLabels.acidity" (degreeEmitter)="setAttr($event, aspectLabels.acidity)"></app-radio-template>
<app-radio-template [groupName]="aspectLabels.tannins" (degreeEmitter)="setAttr($event, aspectLabels.tannins)" ></app-radio-template>
<app-radio-template [groupName]="aspectLabels.sweetness" (degreeEmitter)="setAttr($event, aspectLabels.sweetness)" ></app-radio-template>  
<app-radio-template [groupName]="aspectLabels.body" (degreeEmitter)="setAttr($event, aspectLabels.body)" ></app-radio-template>  
<app-radio-template [groupName]="aspectLabels.burn" (degreeEmitter)="setAttr($event, aspectLabels.burn)" ></app-radio-template>  

<div [formGroup]="descriptionGroup">
    <div class="description">
        <label for="visualDesc">Appearance. Consider color and body.</label>
        <textarea name="visualDesc" id="visualDesc" formControlName="visualDesc"></textarea>
    </div>

    <div class="description">
        <label for="olfactoryDesc">Smell. What notes stand out?</label>
        <textarea name="olfactoryDesc" id="olfactoryDesc" formControlName="olfactoryDesc"></textarea>
    </div>

    <div class="description">
        <label for="tasteDesc">Taste. What are its dominant flavors?</label>
        <textarea name="tasteDesc" id="tasteDesc" formControlName="tasteDesc"></textarea>
    </div>

    <div class="description">
        <label for="comments">Other comments:</label>
        <textarea name="comments" id="comments" formControlName="comments"></textarea>
    </div>
</div>

<button type="submit" (click)="submitAssessment()">Submit</button>