#navbar {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    border-bottom: 1px solid gray;;
}

#profile {
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
    padding-bottom: 5px;
}

a:hover {
    text-decoration: underline;
}