#navbar {
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#profile {
    text-align: center;
}

a {
    flex-basis: 22.5%;
    text-decoration: none;
    color: #000;
    padding-bottom: 5px;
}

a:hover {
    padding-top: 2px;
}

#profile {
    flex-basis: 5%;
}