#navbar {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#profile {
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
    padding-bottom: 5px;
    padding-top: 5px;
}

a:hover {
    padding-top: 2px;
}